doctype html
html
	head
		title hola
		link(rel="stylesheet" href="/css/articlesApp.css")
		link(rel="stylesheet" href="/css/nav.css")
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
	script( src="/js/bundle.js" )